<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
       Registrarse
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" >
    <ion-card class="ion-padding">
      <ion-card-header>
        <ion-card-title>Nuevo ususario</ion-card-title>
      </ion-card-header>
      <form [formGroup]="registerForm"(submit)="submitForm()">
        <ion-input
         label="Email"
         type="email"
          label-placement="floating" 
          fill="outline" 
          formControlName="email"
          errorText="El email es requerido y debe ser validado"
          placeholder="Ingrese su email">
        </ion-input>
        <br>
        <ion-input
        label="Contraseña"
        type="password"
         label-placement="floating" 
         fill="outline" 
         formControlName="password"
         errorText="La contraseña es requerida,debe tener al menos 8 caracteres y  un numero,una letra mayuscula y una minuscula "

         placeholder="Ingrese su contraseña">
        </ion-input>
        <br>
        <ion-input
        label="Repetir Contraseña"
        type="password"
         label-placement="floating" 
         fill="outline" 
         formControlName="confirmPassword"
         placeholder="Repita su contraseña">
        </ion-input>
        <br>
        <ion-button
        type="submit"
         [disabled]="!registerForm.valid"
          expand="block">Registrar</ion-button>
        <br>
        <ion-button (click)="backToLogin()"  expand="block">Volver</ion-button>
      </form>
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
  </ion-content>